{%macro cio_ignore(svols, ifaces) -%}
{% set cio_ignore_devnos = [] -%}
{% for svol in svols -%}
  {%if svol['type'] == 'DASD' and svol['is_root'] -%}
    {% set _ = cio_ignore_devnos.append('!0.0.' + svol['volume_id']) -%}
  {% elif svol['type'] == 'FCP' and svol['is_root'] -%}
     {% for adapter in svol['specs']['adapters'] -%}
       {% set _ = cio_ignore_devnos.append('!' + adapter['devno']) -%}
     {% endfor -%}
  {%- endif %}
{%- endfor -%}
{% for iface in ifaces -%}
   {% set iface_devnos = iface['attributes']['ccwgroup'].split(',') -%}
   {% set _ = cio_ignore_devnos.append('!' + iface_devnos[0] + '-' + iface_devnos[2]) -%}
{%- endfor -%}
cio_ignore=all,!condev,{{ cio_ignore_devnos | join(',') }}
{%- endmacro %}
{% if config['system_type'] != 'KVM' %}{{cio_ignore(config['svols'], config['ifaces'])}} zfcp.allow_lun_scan=0 zfcp.dif=0 s390-netdevice/choose_networktype=qeth s390-netdevice/qeth/choose={{'-'.join(config['gw_iface']['attributes']['ccwgroup'].split(','))}} s390-netdevice/qeth/layer2={{'true' if config['gw_iface']['attributes']['layer2'] else 'false'}} s390-netdevice/qeth/port={{config['gw_iface']['attributes']['portno']}} netcfg/choose_interface={{config['gw_iface']['systemd_osname']}}{% else %}s390-netdevice/choose_networktype=virtio netcfg/choose_interface={{config['gw_iface']['mac_addr']}}{% endif %} netcfg/use_autoconfig=false netcfg/disable_autoconfig=true netcfg/get_ipaddress={{config['gw_iface']['ip']}} netcfg/get_netmask={{config['gw_iface']['mask']}} netcfg/get_gateway={{config['gw_iface']['gateway']}} netcfg/get_nameservers={{config['gw_iface']['dns_1']}} netcfg/confirm_static=true priority=critical url={{config['autofile']}} network-console/password={{config['credentials']['admin-password']}} network-console/password-again={{config['credentials']['admin-password']}} network-console/start=continue
